<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @historia_psicologica_psiquiatrica %>

    <%= link_to "Edit this historia_psicologica_psiquiatrica", edit_historia_psicologica_psiquiatrica_path(@historia_psicologica_psiquiatrica), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this historia_psicologica_psiquiatrica", historia_psicologica_psiquiatrica_path(@historia_psicologica_psiquiatrica), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to historia_psicologica_psiquiatricas", historia_psicologica_psiquiatricas_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
