<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
-->

<div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="col-span-full">
          <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Minha foto</label>
          <div class="mt-2 flex items-center gap-x-3">
            <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
            </svg>
            <button type="button" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Escolher</button>
          </div>
        </div>
      </div>
    </div>
    <%= form_with model: @pessoa, url: users_backoffice_pessoas_path do |pessoa| %>
      <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-40 gap-y-8 sm:grid-cols-6">
        <%= pessoa.fields_for :nome_completos do |nome_completo| %>
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nome</label>
            <div class="mt-2">
              <%= nome_completo.text_field :nome, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Sobrenome</label>
            <div class="mt-2">
              <%= nome_completo.text_field :sobrenome, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
            </div>
          </div>
        <% end %>

        <div class="sm:col-span-8">
          <label for="country" class="block text-sm font-medium leading-6 text-gray-900">CEP</label>
          <div class="mt-4">
            <%= form_with url: users_backoffice_welcome_services_addressAPI_path, method: :post, local: true do |form| %>

              <%= form.text_field :cep, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6', placeholder: 'CEP', type: 'text' %>

              <div class="mb-3">
                <%= form.radio_button :tipo_hab, 'Apartamento', id: 'apartamento', class: 'form-check-input', name: 'flexRadioDefault'%>
                <%= label_tag :apartamento, 'Apartamento'%>
              </div>

              <div class="mb-3">
                <%= form.radio_button :tipo_hab, 'Casa', id: 'casa', class: 'form-check-input', name: 'flexRadioDefault'%>
                <%= label_tag :casa, 'Casa' %>
              </div>

              <%= form.submit 'Buscar endereço', class: 'rounded-md bg-indigo-600 px-3 my-5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>

              <%= turbo_frame_tag "enderecos_frame" do %>
                <% if @endereco_formatado.present? %>
                  <% if @ap == 'Apartamento' %>
                    <%= render 'enderecos/shared/apartamento' %>
                  <% end %>

                  <%= render 'enderecos/shared/endereco_bloco' %>

                <% end %>
              <% end %>
              
              <%= render 'users_backoffice/pessoas/form' %>

            <% end %>


          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
      <%= pessoa.submit 'Salvar', class: 'rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
    </div>
    <% end %>

</div>



