<!-- Sidebar -->
        <div class="w-64 h-screen bg-gray-800 text-white">
            <div class="px-4 py-6">
                <h1 class="text-xl font-semibold">Minha Sidebar</h1>
                <ul class="mt-6">
                    <li class="mt-3">
                        <%= link_to "Página Inicial", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Pacientes", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Consultas", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Anaminese", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Mensagens", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Planos", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Configurações", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>
                    <li class="mt-3">
                        <%= link_to "Sair", site_welcome_index_path, class: 'hover:bg-gray-700 px-3 py-2 rounded-md' %>
                    </li>

                    <!-- Adicione mais itens conforme necessário -->
                </ul>
            </div>
        </div>