<div class="mx-auto w-2/5">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Faça o login na sua conta aqui</h2>
    </div>

    <div class="block mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'space-y-6') do |f| %>
      <div>
        <%= f.label :email, class: 'block text-sm font-medium leading-6 text-gray-900' %><br/>
        <div class='mt-2'>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                            class: 'flex items-center justify-between block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <%= f.label :password, 'Senha', class: 'block text-sm font-medium leading-6 text-gray-900' %><br/>
          <div class="text-sm">
            <%= link_to 'Esqueceu a senha?', new_password_path(resource_name),  class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
          </div>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "current-password",
                               class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "w-4 h-4 text-blue-600 bg-white-100 border-white-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
          <%= f.label :remember_me, 'lembrar-me' , class: 'text-sm font-medium leading-6 text-gray-900' %>
        </div>

        <div class="actions">
        <%= f.submit "Login", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
      <% end %>
    <% end %>
    <div class="block">
      <%= render "devise/shared/links"%>
    </div>
    
    </div>  
  </div>
</div>