<div class="bg-white">
    <div class="block">
      <%= render 'main_site'%>
      <%= render 'features'%>
      <%= render 'steps'%>
      <%= render 'faq'%>
      <%= render 'preco'%>
    </div>
  </div>



  